/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #6589a9;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #274472;
  color: #dad7d7;
  gap: 20px;
  padding: 20px;
}

header img {
  width: 5rem;
  height: 5rem;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2e96b;
  padding: 20px;
}

.footerText {
  text-align: center;
  font-weight: bold;
  color: #6589a9;
}

.social-media {
  display: flex;
  gap: 10px;
  background-color: #6589a9;
  padding: 10px;
  border-radius: 1rem;
}

.social-media .link {
  font-size: 30px;
  color: #f2e96b;
  text-decoration: none;
}

.social-media .link:hover {
  color: #4b3f35;
}

.link {
  display: flex;
  align-content: center;
  justify-content: center;
}

.gallery-container {
  padding: 85px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 85px;
}

.gallery-item {
  align-self: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.2);
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

@media (max-width: 996px) {
  header {
    padding: 10px;
  }

  header h1 {
    font-size: 1.5em;
  }

  .gallery-container {
    padding: 40px;
  }

  .gallery-grid {
    gap: 40px;
  }

  .gallery-item:hover {
    transform: scale(1);
  }
}
