:root {
  --bg: #6589a9;
  --fg: #dad7d7;
  --bgDarker: #274472;
  --yellow: #f2e96b;
  --brown: #4b3f35;
}

/* Ensure full height for html and body */
html,
body {
  height: 100%;
  margin: 0;
}

/* Main wrapper to use flexbox */
body {
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
}

/* Website */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bgDarker);
  color: var(--fg);
  gap: 20px;
  padding: 20px;
}

.headerTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  z-index: 1001; /* Ensure the hamburger is above other elements */
}

.hamburger {
  display: none;
  background-color: transparent;
  color: var(--yellow);
  border: 0;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1001; /* Ensure the hamburger is above other elements */
}

.mobileMenu {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: var(--bgDarker);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; /* Ensure the mobile menu is above other elements */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.mobileMenu.active {
  display: flex;
  opacity: 1;
}

.mobileMenu nav ul {
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.mobileMenu nav ul li {
  width: 100%;
}

.mobileMenu nav ul li a {
  color: var(--fg);
  text-decoration: none;
  width: 100%;
  display: block;
  padding: 15px;
  background-color: var(--bg);
  border-radius: 5px;
  font-size: 1.5rem;
}

.mobileMenu nav ul li a:hover {
  background-color: var(--yellow);
  color: var(--bg);
}

.headerLinks {
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

header img {
  width: 5rem;
  height: 5rem;
}

header h1 {
  margin: 0;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 5px;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0;
}

nav ul li a {
  color: var(--fg);
  font-size: 1.2rem;
  text-decoration: none;
}

nav ul li a:hover {
  color: var(--yellow);
}

main {
  padding: 20px;
  flex: 1; /* Allow main content to take up remaining space */
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--yellow);
  padding: 20px;
  margin-top: auto; /* Push footer to the bottom */
}

.social-media {
  display: flex;
  gap: 10px;
  background-color: var(--bg);
  padding: 10px;
  border-radius: 1rem;
}

.social-media .link {
  font-size: 30px;
  color: var(--yellow);
  text-decoration: none;
}

.social-media .link:hover {
  color: var(--brown);
}

.link {
  display: flex;
  align-content: center;
  justify-content: center;
}

/* Home */
.splide {
  width: 80%;
  margin: auto;
  background-color: transparent;
  border-radius: 10px;
  position: relative;
}

.splide__list {
  display: flex;
  gap: 10px;
}

.splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

.splide__slide img {
  max-width: 100%; /* Ensure the image scales to fit within the slide */
  max-height: 80vh; /* Ensure the image scales to fit within the slide */
  object-fit: contain; /* Maintain aspect ratio while fitting within the container */
}

.splide__arrows {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.splide__arrow {
  background-color: var(--bgDarker);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.splide__arrow svg {
  fill: var(--fg);
}

/* About */
.about-me {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.about-me h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: var(--yellow);
}

.about-me p {
  line-height: 1.6;
  margin-bottom: 15px;
  font-size: 1.3rem;
  color: var(--fg);
}

/* Gallery */
.gallery {
  padding: 85px;
}

.galleryTitle {
  text-align: center;
  font-size: 4em;
  margin-bottom: 20px;
  color: var(--yellow);
}

.gallery-container {
  padding: 85px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 85px;
}

.gallery-item {
  align-self: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.2);
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

@media (max-width: 996px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
  }

  header h1 {
    display: none;
    text-align: left;
    font-size: 1.5em;
  }

  header img {
    width: 4rem;
    height: 4rem;
  }

  .headerTitle {
    justify-content: space-between;
    width: 100%;
  }

  .hamburger {
    display: block;
  }

  .headerLinks {
    display: none;
  }

  main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
  }

  footer {
    padding: 10px;
  }

  .social-media {
    gap: 5px;
  }

  .social-media .link {
    font-size: 24px;
  }

  /* Home */
  .splide {
    width: 90%;
  }

  .splide__slide img {
    max-height: 30vh;
  }

  /* About */
  .about-me {
    padding: 10px;
  }

  .about-me h2 {
    font-size: 1.5em;
  }

  .about-me p {
    font-size: 1rem;
  }

  /* Gallery */
  .gallery {
    padding: 10px;
  }

  .galleryTitle {
    font-size: 2em;
  }

  .gallery-container {
    padding: 10px;
  }

  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .gallery-item:hover {
    transform: scale(1);
  }
}
