/* Base */
:root {
  --bg: #dfddd2;
  --fg: #3e607e;
  --bgDarker: #b0ad9e;
}

/* Ensure full height for html and body */
html,
body {
  font-family: "Rubik", sans-serif;
  height: 100%;
  margin: 0;
}

/* Main wrapper to use flexbox */
body {
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
}

main {
  padding: 20px;
  flex: 1; /* Allow main content to take up remaining space */
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--bgDarker);
  padding: 20px;
  margin-top: auto; /* Push footer to the bottom */
}

p {
  color: var(--fg);
}

.social-media {
  display: flex;
  gap: 10px;
  background-color: var(--bg);
  padding: 10px;
  border-radius: 1rem;
}

.social-media .link {
  font-size: 30px;
  color: var(--fg);
  text-decoration: none;
}

.social-media .link:hover {
  color: var(--bgDarker);
}

.link {
  display: flex;
  align-content: center;
  justify-content: center;
}

/* Navbar */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bgDarker);
  color: var(--fg);
  gap: 20px;
  padding: 20px;
}

header img {
  width: 5rem;
  height: 5rem;
}

header h1 {
  font-family: "Playwrite AR", cursive;
  font-size: 1.5rem;
  margin: 0;
}

.headerTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  z-index: 1001; /* Ensure the hamburger is above other elements */
}

.headerLinks {
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: flex-start;
}

.headerLinks nav ul li a.active {
  color: var(--bgDarker); /* Optional: change color to highlight active link */
  background-color: var(--fg);
  padding: 3px;
  border: 3px;
  border-radius: 10px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0;
}

nav ul li a {
  color: var(--fg);
  font-size: 1.2rem;
  text-decoration: none;
}

nav ul li a:hover {
  color: var(--fg);
}

.hamburger {
  display: none;
  background-color: transparent;
  color: var(--fg);
  border: 0;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1001; /* Ensure the hamburger is above other elements */
}

.hamburger i {
  font-size: 24px;
  transition: transform 0.3s ease;
}

/* Optional styling for smooth transition */
.hamburger.active i {
  transform: rotate(90deg); /* Adds a rotation effect when toggled */
}

.mobileMenu {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: var(--bgDarker);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; /* Ensure the mobile menu is above other elements */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.mobileMenu.active {
  display: flex;
  opacity: 1;
}

.mobileMenu nav ul {
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.mobileMenu nav ul li {
  display: flex;
  width: 100%;
  overflow-wrap: break-word;
  justify-content: center;
}

.mobileMenu nav ul li a {
  color: var(--fg);
  text-decoration: none;
  width: 80%;
  display: block;
  padding: 15px;
  background-color: var(--bg);
  border-radius: 5px;
  font-size: 1.5rem;
  overflow-wrap: break-word;
}

.mobileMenu nav ul li a:hover {
  background-color: var(--fg);
  color: var(--bg);
}

.mobileMenu nav ul li a.active {
  background-color: var(--fg);
  color: var(--bg);
}

/* Home */
.homeTitle {
  font-family: "Playwrite AR", cursive;
  font-size: 2.5rem;
  text-align: center;
  color: transparent;
  background-image: linear-gradient(to left, var(--fg), var(--bgDarker));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.splide {
  width: 80%;
  margin: auto;
  background-color: transparent;
  border-radius: 10px;
  position: relative;
}

.splide__list {
  display: flex;
  gap: 10px;
}

.splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

.splide__slide img {
  max-width: 100%; /* Ensure the image scales to fit within the slide */
  max-height: 80vh; /* Ensure the image scales to fit within the slide */
  object-fit: contain; /* Maintain aspect ratio while fitting within the container */
}

.splide__arrows {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.splide__arrow {
  background-color: var(--bgDarker);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.splide__arrow svg {
  fill: var(--fg);
}

/* Pages */
.about-me {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.about-me h2,
.galleryTitle {
  text-align: center;
  font-size: 3em;
  margin-bottom: 20px;
  color: transparent;
  background-image: linear-gradient(to left, var(--fg), var(--bgDarker));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-me p {
  line-height: 1.6;
  margin-bottom: 15px;
  font-size: 1.3rem;
  color: var(--fg);
}

.imgFloat {
  float: right; /* or float: right; to wrap text on the other side */
  margin-right: 15px; /* Space between image and text */
  margin-bottom: 10px; /* Space below the image */
  max-width: 40%; /* Adjust width as needed */
  max-height: 40%;
}

/* Gallery */
.gallery {
  padding: 85px;
  padding-top: 0;
}

.gallery-container {
  padding: 85px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 85px;
}

.gallery-item {
  align-self: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.2);
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

@media (max-width: 996px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
  }

  header h1 {
    display: none;
    text-align: left;
    font-size: 1.5em;
  }

  header img {
    width: 4rem;
    height: 4rem;
  }

  .headerTitle {
    justify-content: space-between;
    width: 100%;
  }

  .hamburger {
    display: block;
  }

  .headerLinks {
    display: none;
  }

  main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
  }

  footer {
    padding: 10px;
  }

  .social-media {
    gap: 5px;
  }

  .social-media .link {
    font-size: 24px;
  }

  /* Home */
  .splide {
    width: 90%;
  }

  .splide__slide img {
    max-height: 30vh;
  }

  /* About */
  .about-me {
    padding: 10px;
  }

  .galleryTitle,
  .about-me h2 {
    font-size: 2.5em;
  }

  .about-me p {
    font-size: 1rem;
  }

  /* Gallery */
  .gallery {
    padding: 10px;
  }

  .gallery-container {
    padding: 10px;
  }

  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .gallery-item:hover {
    transform: scale(1);
  }
}
