<footer>
  <div class="social-media">
    <a class="link" href="https://www.instagram.com/artist_mina.maged" aria-label="Instagram">
      <i class="fab fa-instagram"></i>
    </a>
    <a class="link" href="https://www.facebook.com/MinaMaged12345" aria-label="Facebook">
      <i class="fab fa-facebook"></i>
    </a>
    <a class="link" href="https://www.tiktok.com/@artist_mina.maged" aria-label="TikTok">
      <i class="fab fa-tiktok"></i>
    </a>
    <a class="link" href="#" aria-label="Phone" id="phone-link" data-phone="+201096162068">
      <i class="fas fa-phone"></i>
    </a>
  </div>
  <p>&copy; 2024 Artist Mina Maged. All rights reserved.</p>
</footer>
