<header>
  <div class="headerTitle">
    <img src="../logo.svg" alt="logo" />
    <h1>Artist Mina Maged</h1>
    <button class="hamburger" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
  </div>
  <div class="headerLinks">
    <nav>
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="../gallery/index.html">Gallery</a></li>
        <li><a href="../about.html">About Me</a></li>
        <li><a href="../goodpref.html">Guide To A Good Preference</a></li>
      </ul>
    </nav>
  </div>
  <div class="mobileMenu">
    <nav>
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="../gallery/index.html">Gallery</a></li>
        <li><a href="../about.html">About Me</a></li>
        <li><a href="../goodpref.html">Guide To A Good Preference</a></li>
      </ul>
    </nav>
  </div>
</header>