<header>
  <div class="headerTitle">
    <a href="../index.html">
      <img src="../images/logo.svg" alt="logo" />
    </a>
    <button class="hamburger" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
  </div>
  <div class="headerLinks">
    <nav>
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="../pages/gallery.html">Gallery</a></li>
        <li><a href="../pages/about.html">About Me</a></li>
        <li><a href="../pages/goodpref.html">Guide To A Good Preference</a></li>
      </ul>
    </nav>
  </div>
  <div class="mobileMenu">
    <nav>
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="../pages/gallery.html">Gallery</a></li>
        <li><a href="../pages/about.html">About Me</a></li>
        <li><a href="../pages/goodpref.html">Guide To A Good Preference</a></li>
      </ul>
    </nav>
  </div>
</header>
