:root {
  --bg: #6589a9;
  --fg: #dad7d7;
  --bgDarker: #274472;
  --yellow: #f2e96b;
  --brown: #4b3f35;
}

/* Website */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bgDarker);
  color: var(--fg);
  gap: 20px;
  padding: 20px;
}

.headerTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  z-index: 1001; /* Ensure the hamburger is above other elements */
}

.hamburger {
  display: none;
  background-color: transparent;
  color: var(--yellow);
  border: 0;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1001; /* Ensure the hamburger is above other elements */
}

.mobileMenu {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: var(--bgDarker);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; /* Ensure the mobile menu is above other elements */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.mobileMenu.active {
  display: flex;
  opacity: 1;
}

.mobileMenu nav ul {
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.mobileMenu nav ul li {
  display: flex;
  width: 100%;
  overflow-wrap: break-word;
  justify-content: center;
}

.mobileMenu nav ul li a {
  color: var(--fg);
  text-decoration: none;
  width: 80%;
  display: block;
  padding: 15px;
  background-color: var(--bg);
  border-radius: 5px;
  font-size: 1.5rem;
  overflow-wrap: break-word;
}

.mobileMenu nav ul li a:hover {
  background-color: var(--yellow);
  color: var(--bg);
}

.headerLinks {
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: flex-start;
}

header img {
  width: 5rem;
  height: 5rem;
}

header h1 {
  font-family: "Playwrite AR", cursive;
  font-size: 1.5rem;
  margin: 0;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 15px;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0;
}

nav ul li a {
  color: var(--fg);
  font-size: 1.2rem;
  text-decoration: none;
}

nav ul li a:hover {
  color: var(--yellow);
}


@media (max-width: 996px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
  }

  header h1 {
    display: none;
    text-align: left;
    font-size: 1.5em;
  }

  header img {
    width: 4rem;
    height: 4rem;
  }

  .headerTitle {
    justify-content: space-between;
    width: 100%;
  }

  .hamburger {
    display: block;
  }

  .headerLinks {
    display: none;
  }

}