:root {
  --bg: #DFDDD2;
  --fg: #3E607E;
  --bgDarker: #B0AD9E;
}

/* Ensure full height for html and body */
html,
body {
  font-family: "Rubik", sans-serif;
  height: 100%;
  margin: 0;
}

/* Main wrapper to use flexbox */
body {
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
}

main {
  padding: 20px;
  flex: 1; /* Allow main content to take up remaining space */
}