/* Home */
.homeTitle {
  font-family: "Playwrite AR", cursive;
  font-size: 2.5rem;
  text-align: center;

  color: transparent;
  background-image: linear-gradient(to left, var(--fg), var(--bgDarker) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.splide {
  width: 80%;
  margin: auto;
  background-color: transparent;
  border-radius: 10px;
  position: relative;
}

.splide__list {
  display: flex;
  gap: 10px;
}

.splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

.splide__slide img {
  max-width: 100%; /* Ensure the image scales to fit within the slide */
  max-height: 80vh; /* Ensure the image scales to fit within the slide */
  object-fit: contain; /* Maintain aspect ratio while fitting within the container */
}

.splide__arrows {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.splide__arrow {
  background-color: var(--bgDarker);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.splide__arrow svg {
  fill: var(--fg);
}