@media (max-width: 996px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
  }

  header h1 {
    display: none;
    text-align: left;
    font-size: 1.5em;
  }

  header img {
    width: 4rem;
    height: 4rem;
  }

  .headerTitle {
    justify-content: space-between;
    width: 100%;
  }

  .hamburger {
    display: block;
  }

  .headerLinks {
    display: none;
  }

  main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
  }

  footer {
    padding: 10px;
  }

  .social-media {
    gap: 5px;
  }

  .social-media .link {
    font-size: 24px;
  }

  /* Home */
  .splide {
    width: 90%;
  }

  .splide__slide img {
    max-height: 30vh;
  }

  /* About */
  .about-me {
    padding: 10px;
  }

  .galleryTitle,
  .about-me h2 {
    font-size: 2.5em;
  }

  .about-me p {
    font-size: 1rem;
  }

  /* Gallery */
  .gallery {
    padding: 10px;
  }

  .gallery-container {
    padding: 10px;
  }

  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .gallery-item:hover {
    transform: scale(1);
  }
}